/* 
    Created on : 30-Apr-2016, 11:51:03
    Author     : Cameron Small
*/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

$lsutv_red: #EC2228;

html{
    overflow-y:scroll;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    margin-top:2em;
    flex: 1 0 auto;
    
}


a{
    color:inherit;
}

iframe{
    border:none;
}

.card-panel .row{
    margin-bottom:0;
}

.pointer{
    cursor:pointer;
}

.readable{
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.italic{
    font-style:italic;
}

.dropdown-content li > a, .dropdown-content li > span{
    color:$lsutv_red;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color:$lsutv_red;
}

.parallax-container {
   height: 300px;
 }
 
 .parallax{
     $pblur: 5px;
     $pfilter: blur(30px);
     -webkit-filter:$pfilter;
     -moz-filter:$pfilter;
     -ms-filter:$pfilter;
     filter:$pfilter;
     background-color:black;
 }

nav{
    background-color:$lsutv_red;
    //background-color:white;
}


#main-nav{
    background-color:transparent;
    z-index:50;
}

#search-bar{
    height:64px;
}

#search-container{
    //background-color:#EC2228;
}

.result-type{
}

#show-title{
    bottom: 0;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    color:white;
}

#tv-logo{
    height:56px;
    margin:0px;
    margin-left:6px;
}

.video-container{
    background-size:cover;
}

.video-darkbox{
   background-color:black;
}
.video-pane{
    max-width:1100px;
}

#main-content{
    margin-top:2em;
}

#main-content-home{
    margin-top:100vh;
}

#home-slider{
    //height:50%;
}
#slide-container{
    height:100vh;
    overflow:hidden;
}

.channel-nowplaying{
    white-space:nowrap;
}

.player-container {
    background-color:black;
    width: 100%;
    display: inline-block;
    position: relative;
}
.player-container:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.player-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
 width:100%;
height:100%;
overflow:hidden;
}

#player-description{
    margin-top:0.5rem;
}

#player-tags{
    margin-top:0.5rem;
    
}

#player-playlist{
    margin-top:-0.5rem;
}

.playlist-item{
    cursor:pointer;
}

.search-result-title{
    font-size: 1.5em;
}

#footer{
    background-color:$lsutv_red;
}

#footer-logo{
    height:100px;
    margin-top:-20px;
}

#footer-section-logos img{
    width:30%;
    display:inline-block;
}

.show-episode-header{
    
    h4{
       line-height:61px;
       margin:0;
   }

   input.select-dropdown{
       //border-bottom:none;
   }
}

.episodes{
    ul, ol{
        list-style:none;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    li{
        display:block;
        width:40%;
    }
    
    
    .search:active{
        border-color:$lsutv_red;
    }
}

/* Responsive image container */
.sixteen-nine{
  width: 100%;
  display:inline-block;
  position: relative;
  overflow:hidden;
}
.sixteen-nine:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.sixteen-nine-inner {
  position: absolute;
  width:100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
}

.inline{
    display:inline-block;
}
/* Player container special adjustments */

.spotify-container:after{
  padding-top:109.45%;
}

.cinescope-container:after{
    padding-top:41.7%;
}

@media(max-width:600px){
    .parallax-container{
        height:120px;
    }
    
    #show-title h3{
        font-size:2rem;
        white-space:normal;
    }
    #tv-logo{
        height:40px;
    }
    
    .container{
        overflow:hidden;
    }

}